In [1]:
import pandas as pd
import numpy as np
pd.set_option('mode.chained_assignment',None)

# Importar Dataset de Inicial

In [2]:
df_Inicial = pd.read_csv(r'dataset/FreeStyle.csv')

# Revisamos las columnas que contiene el Dataset

In [3]:
df_Inicial.head()

          ID                 Date  Glucose level
0  LIB193263  2020-06-09 19:08:00           99.0
1  LIB193263  2020-06-09 19:23:00           92.0
2  LIB193263  2020-06-09 19:38:00           86.0
3  LIB193263  2020-06-09 19:53:00           85.0
4  LIB193263  2020-06-09 20:08:00           85.0

In [4]:
df_Inicial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000001 entries, 0 to 3000000
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   ID             object
 1   Date           object
 2   Glucose level  float64
dtypes: float64(1), object(2)
memory usage: 68.7+ MB

### Cambiamos el formato de la columna Date de object a datetime64

In [5]:
df_Inicial['Date']=pd.to_datetime(df_Inicial['Date'])

In [6]:
df_Inicial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000001 entries, 0 to 3000000
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   ID             object
 1   Date           datetime64[ns]
 2   Glucose level  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 68.7+ MB

In [7]:
df_Inicial['Date'].min()

Timestamp('2016-10-05 08:47:00')

In [8]:
df_Inicial['Date'].max()

Timestamp('2044-03-22 03:44:00')

### Elimininamos los registros duplicados por paciente y fecha

In [9]:
df_Inicial=df_Inicial.drop_duplicates(['ID','Date'],keep='first')
df_Inicial.reset_index(drop=True, inplace=True)

In [10]:
df_Inicial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2997002 entries, 0 to 2997001
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   ID             object
 1   Date           datetime64[ns]
 2   Glucose level  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 68.6+ MB

## Seleccionamos el rango de fechas validas

In [11]:
DateStart='2018-01-06';
df_depurado=df_Inicial[df_Inicial['Date'] >=DateStart]
df_depurado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2967499 entries, 0 to 2997001
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   ID             object
 1   Date           datetime64[ns]
 2   Glucose level  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 90.6+ MB

In [12]:
DateEnd='2022-03-21';
df_depurado=df_depurado[df_depurado['Date'] <=DateEnd]
df_depurado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2966685 entries, 0 to 2997001
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   ID             object
 1   Date           datetime64[ns]
 2   Glucose level  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 90.5+ MB

In [13]:
df_depurado.describe()

       Glucose level
count   2.966685e+06
mean    1.579769e+02
std     6.577485e+01
min     4.000000e+01
25%     1.090000e+02
50%     1.470000e+02
75%     1.960000e+02
max     5.000000e+02

In [14]:
df=df_depurado

In [15]:
df['Date'].min()

Timestamp('2018-01-06 00:31:00')

In [16]:
df['Date'].max()

Timestamp('2022-03-20 23:58:00')

In [17]:
df.to_csv('dataset/generado/datasetDepurado.csv', index=False)