In [1]:
import codigo
from codigo import utils
from codigo import model_utils

In [2]:
import pandas as pd
import numpy as np
pd.set_option('mode.chained_assignment',None)
import matplotlib.pyplot as plt
import seaborn as sns
import math
from pickle import dump

%matplotlib inline
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Importar Dataset depurado

In [3]:
df_Inicial = pd.read_csv(r'dataset/generado/datasetDepurado.csv')

# Revisamos las columnas que contiene el Dataset

In [4]:
df_Inicial.head()

          ID                 Date  Glucose level
0  LIB193263  2020-06-09 19:08:00           99.0
1  LIB193263  2020-06-09 19:23:00           92.0
2  LIB193263  2020-06-09 19:38:00           86.0
3  LIB193263  2020-06-09 19:53:00           85.0
4  LIB193263  2020-06-09 20:08:00           85.0

In [5]:
df_Inicial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2966685 entries, 0 to 2966684
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   ID             object
 1   Date           object
 2   Glucose level  float64
dtypes: float64(1), object(2)
memory usage: 67.9+ MB

### Cambiamos el formato de la columna Date de object a datetime64

In [6]:
df_Inicial['Date']=pd.to_datetime(df_Inicial['Date'])

In [7]:
df_Inicial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2966685 entries, 0 to 2966684
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   ID             object
 1   Date           datetime64[ns]
 2   Glucose level  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 67.9+ MB

In [8]:
df_Inicial['Date'].min()

Timestamp('2018-01-06 00:31:00')

In [9]:
df_Inicial['Date'].max()

Timestamp('2022-03-20 23:58:00')

# Generar DataSet de cada Paciente

In [10]:
train_share = 0.8
val_share = 0.9
lag=30
n_ahead=2
min=15

featuresObj=['Glucose level','hour','min','pod_id','level_id']

from pickle import load
scalerGlucosa = load(open('dataset/generado/scalerGlucosa.scaler', 'rb'))
scalerHours = load(open('dataset/generado/scalerHours.scaler', 'rb'))
scalerMin = load(open('dataset/generado/scalerMin.scaler', 'rb'))
scalerPodId = load(open('dataset/generado/scalerPodId.scaler', 'rb'))
scalerLevelId = load(open('dataset/generado/scalerLevelId.scaler', 'rb'))

## Paciente 1: LIB193399

In [11]:
ID_Paciente='LIB193399'
dfpaciente=df_Inicial[df_Inicial['ID'] == ID_Paciente]

In [12]:
dfpaciente

                ID                Date  Glucose level
2964772  LIB193399 2020-09-30 18:15:00          105.0
2964773  LIB193399 2020-09-30 18:30:00          101.0
2964774  LIB193399 2020-09-30 18:45:00           98.0
2964775  LIB193399 2020-09-30 19:00:00           99.0
2964776  LIB193399 2020-09-30 19:15:00          108.0
...            ...                 ...            ...
2966680  LIB193399 2020-10-20 20:50:00           83.0
2966681  LIB193399 2020-10-20 21:05:00           76.0
2966682  LIB193399 2020-10-20 21:20:00           67.0
2966683  LIB193399 2020-10-20 21:35:00           63.0
2966684  LIB193399 2020-10-20 21:50:00           63.0

[1913 rows x 3 columns]

In [13]:
dfPacienteFinal,array_Xtrain,array_Ytrain,array_Xval,array_Yval,array_Xtest,array_Ytest=model_utils.GenDataSet(dfpaciente,featuresObj,[ID_Paciente],min,train_share,val_share,lag,n_ahead,scalerHours,scalerMin,scalerGlucosa,scalerPodId,scalerLevelId,fillNullData=True,resample=True,normalized=True)

In [14]:
dfPacienteFinal.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1935 entries, 2020-09-30 18:15:00 to 2020-10-20 21:45:00
Freq: 15T
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Glucose level  1935 non-null   float64
 1   hour           1935 non-null   float64
 2   min            1935 non-null   float64
 3   pod_id         1935 non-null   float64
 4   level_id       1935 non-null   float64
dtypes: float64(5)
memory usage: 90.7 KB

Guardamos todos los arrays de entrenamiento, validación y pruebas generados

In [15]:
with open('dataset/generado/paciente1/array_Xtrain.npy', 'wb') as f:
    np.save(f, array_Xtrain)
len(array_Ytrain)

1523

In [16]:
with open('dataset/generado/paciente1/array_Ytrain.npy', 'wb') as f:
    np.save(f, array_Ytrain)
len(array_Ytrain)

1523

In [17]:
with open('dataset/generado/paciente1/array_Xval.npy', 'wb') as f:
    np.save(f, array_Xval)
len(array_Xval)

190

In [18]:
with open('dataset/generado/paciente1/array_Yval.npy', 'wb') as f:
    np.save(f, array_Yval)
len(array_Yval)

190

In [19]:
with open('dataset/generado/paciente1/array_Xtest.npy', 'wb') as f:
    np.save(f, array_Xtest)
len(array_Xtest)

191

In [20]:
with open('dataset/generado/paciente1/array_Ytest.npy', 'wb') as f:
    np.save(f, array_Ytest)
len(array_Ytest)

191

## Paciente 2: LIB193353

In [21]:
ID_Paciente='LIB193353'
dfpaciente=df_Inicial[df_Inicial['ID'] == ID_Paciente]
dfpaciente.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13083 entries, 1967092 to 1980174
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             13083 non-null  object
 1   Date           13083 non-null  datetime64[ns]
 2   Glucose level  13083 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 408.8+ KB

In [22]:
dfPacienteFinal,array_Xtrain,array_Ytrain,array_Xval,array_Yval,array_Xtest,array_Ytest=model_utils.GenDataSet(dfpaciente,featuresObj,[ID_Paciente],min,train_share,val_share,lag,n_ahead,scalerHours,scalerMin,scalerGlucosa,scalerPodId,scalerLevelId,fillNullData=True,resample=True,normalized=True)

In [23]:
dfPacienteFinal.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 17445 entries, 2021-04-20 18:15:00 to 2021-10-19 11:15:00
Freq: 15T
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Glucose level  17445 non-null  float64
 1   hour           17445 non-null  float64
 2   min            17445 non-null  float64
 3   pod_id         17445 non-null  float64
 4   level_id       17445 non-null  float64
dtypes: float64(5)
memory usage: 817.7 KB

Guardamos todos los arrays de entrenamiento, validación y pruebas generados

In [24]:
with open('dataset/generado/paciente2/array_Xtrain.npy', 'wb') as f:
    np.save(f, array_Xtrain)
len(array_Ytrain)

13931

In [25]:
with open('dataset/generado/paciente2/array_Ytrain.npy', 'wb') as f:
    np.save(f, array_Ytrain)
len(array_Ytrain)

13931

In [26]:
with open('dataset/generado/paciente2/array_Xval.npy', 'wb') as f:
    np.save(f, array_Xval)
len(array_Xval)

1741

In [27]:
with open('dataset/generado/paciente2/array_Yval.npy', 'wb') as f:
    np.save(f, array_Yval)
len(array_Yval)

1741

In [28]:
with open('dataset/generado/paciente2/array_Xtest.npy', 'wb') as f:
    np.save(f, array_Xtest)
len(array_Xtest)

1742

In [29]:
with open('dataset/generado/paciente2/array_Ytest.npy', 'wb') as f:
    np.save(f, array_Ytest)
len(array_Ytest)

1742

## Paciente 3: LIB193315

In [30]:
ID_Paciente='LIB193315'
dfpaciente=df_Inicial[df_Inicial['ID'] == ID_Paciente]
dfpaciente.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31592 entries, 1166570 to 1198161
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             31592 non-null  object
 1   Date           31592 non-null  datetime64[ns]
 2   Glucose level  31592 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 987.2+ KB

In [31]:
dfPacienteFinal,array_Xtrain,array_Ytrain,array_Xval,array_Yval,array_Xtest,array_Ytest=model_utils.GenDataSet(dfpaciente,featuresObj,[ID_Paciente],min,train_share,val_share,lag,n_ahead,scalerHours,scalerMin,scalerGlucosa,scalerPodId,scalerLevelId,fillNullData=True,resample=True,normalized=True)

In [32]:
dfPacienteFinal.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35885 entries, 2021-03-09 12:00:00 to 2022-03-18 07:00:00
Freq: 15T
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Glucose level  35885 non-null  float64
 1   hour           35885 non-null  float64
 2   min            35885 non-null  float64
 3   pod_id         35885 non-null  float64
 4   level_id       35885 non-null  float64
dtypes: float64(5)
memory usage: 1.6 MB

Guardamos todos los arrays de entrenamiento, validación y pruebas generados

In [33]:
with open('dataset/generado/paciente3/array_Xtrain.npy', 'wb') as f:
    np.save(f, array_Xtrain)
len(array_Ytrain)

28683

In [34]:
with open('dataset/generado/paciente3/array_Ytrain.npy', 'wb') as f:
    np.save(f, array_Ytrain)
len(array_Ytrain)

28683

In [35]:
with open('dataset/generado/paciente3/array_Xval.npy', 'wb') as f:
    np.save(f, array_Xval)
len(array_Xval)

3585

In [36]:
with open('dataset/generado/paciente3/array_Yval.npy', 'wb') as f:
    np.save(f, array_Yval)
len(array_Yval)

3585

In [37]:
with open('dataset/generado/paciente3/array_Xtest.npy', 'wb') as f:
    np.save(f, array_Xtest)
len(array_Xtest)

3586

In [38]:
with open('dataset/generado/paciente3/array_Ytest.npy', 'wb') as f:
    np.save(f, array_Ytest)
len(array_Ytest)

3586

## Paciente 4: LIB193304

In [39]:
ID_Paciente='LIB193304'
dfpaciente=df_Inicial[df_Inicial['ID'] == ID_Paciente]
dfpaciente.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59786 entries, 667394 to 727179
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             59786 non-null  object
 1   Date           59786 non-null  datetime64[ns]
 2   Glucose level  59786 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.8+ MB

In [40]:
dfPacienteFinal,array_Xtrain,array_Ytrain,array_Xval,array_Yval,array_Xtest,array_Ytest=model_utils.GenDataSet(dfpaciente,featuresObj,[ID_Paciente],min,train_share,val_share,lag,n_ahead,scalerHours,scalerMin,scalerGlucosa,scalerPodId,scalerLevelId,fillNullData=True,resample=True,normalized=True)

In [41]:
dfPacienteFinal.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 62039 entries, 2020-06-10 17:45:00 to 2022-03-18 23:15:00
Freq: 15T
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Glucose level  62039 non-null  float64
 1   hour           62039 non-null  float64
 2   min            62039 non-null  float64
 3   pod_id         62039 non-null  float64
 4   level_id       62039 non-null  float64
dtypes: float64(5)
memory usage: 2.8 MB

Guardamos todos los arrays de entrenamiento, validación y pruebas generados

In [42]:
with open('dataset/generado/paciente4/array_Xtrain.npy', 'wb') as f:
    np.save(f, array_Xtrain)
len(array_Ytrain)

49606

In [43]:
with open('dataset/generado/paciente4/array_Ytrain.npy', 'wb') as f:
    np.save(f, array_Ytrain)
len(array_Ytrain)

49606

In [44]:
with open('dataset/generado/paciente4/array_Xval.npy', 'wb') as f:
    np.save(f, array_Xval)
len(array_Xval)

6201

In [45]:
with open('dataset/generado/paciente4/array_Yval.npy', 'wb') as f:
    np.save(f, array_Yval)
len(array_Yval)

6201

In [46]:
with open('dataset/generado/paciente4/array_Xtest.npy', 'wb') as f:
    np.save(f, array_Xtest)
len(array_Xtest)

6201

In [47]:
with open('dataset/generado/paciente4/array_Ytest.npy', 'wb') as f:
    np.save(f, array_Ytest)
len(array_Ytest)

6201